html {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-ui);
    color: var(--color-foreground);
    background-color: var(--color-background);
    margin: 0;
}

a {
    color: var(--color-primary);

    &:hover {
        text-decoration: none;
    }
}

pre,
code {
    font: var(--text-code);
    letter-spacing: 0;
    margin: 0;
    font-variant-ligatures: none;
}

pre {
    overflow-x: auto;
}

:is(h2, h3, h4) code {
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
    margin: 25px 0; 
    min-width: 400px;
    box-shadow: 0 0 20px var(--color-foreground-1);
}

table thead tr {
    background-color: var(--color-table-header);
    color: var(--color-foreground);
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
} 



table tbody tr {
    border-bottom: 1px solid var(--color-foreground-1);
}

table tbody tr:nth-of-type(even) {
    background-color: var(--color-background-1); 
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-table-header);
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

blockquote {
    display: flex;
    align-items: flex-start;
    padding: 25px;
    background: var(--color-background-1);
    border-radius: 8px; 
    box-shadow: 0 0 20px var(--color-foreground-1);
    flex-direction: column;
}

:not(:defined) {
    visibility: hidden;
}

:where(ul[role="list"], ol[role="list"]) {
    list-style: none;
    padding-inline: 0;
}

