@use "sass:meta";
@use "../../mixins";

.bottom-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5rem 0;

  & > div {
    width: 45%;
  }

  @include mixins.mobile {
    flex-direction: column;
    margin: 0;

    & > div {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

@include meta.load-css('tags');
@include meta.load-css('share_buttons');
@include meta.load-css('mastodon_share_dialog');
