<!doctype html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8"> 
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>

    <meta name="color-schemes" content="light dark">
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
     <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/docsify@4/lib/themes/vue.css"
    />
    
    <link rel="stylesheet" href="/styles.css">
    {{ if it.page_css }}
    <link rel="stylesheet" href="/styles/pages/{{ page_css }}" />
    {{ /if }}
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metas.site }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ metas.site }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="canonical" href="{{ url |> url(true) }}">
    <script src="/js/main.js" type="module"></script>
    {{ it.extra_head?.join("\n") }}

<script>
  window.$docsify = { 
    name: "Docs",
    mermaidConfig: {
      querySelector: ".mermaid",
    },
     mermaidZoom: {
          minimumScale: 1,
          maximumScale: 5,
          zoomPannel: true,
      },
  };
</script>
  

   
  </head>
  <body>
    <!-- Docsify v4 -->
    <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
    <script src="//cdn.jsdelivr.net/npm/d3@7"></script>

    <script type="module">
   import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
     window.mermaid = mermaid;
   // https://github.com/cloudflare/cloudflare-docs/pull/9694
    function refresh(newColorScheme){ 
     const mermaidTheme = newColorScheme === "dark" ? "dark" : "neutral";
      mermaid.mermaidAPI.initialize({ theme: mermaidTheme, startOnLoad: true });
    }
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
      const newColorScheme = event.matches ? "dark" : "light";
      refresh(newColorScheme)
    });
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
   refresh("dark") 
  }else{ 
  refresh("light") 
  }
  </script>

    <script src="//unpkg.com/docsify-mermaid@2.0.0/dist/docsify-mermaid.js" defer></script>
    <script src="//unpkg.com/docsify-mermaid-zoom/dist/docsify-mermaid-zoom.js" defer></script>
 
    <div class="sidebar" style="display: none"></div>

    <nav class="navbar">
       <div>
      <a href="/" class="navbar-home">
        {{ if it.logo }}
          {{ it.logo }}
        {{ else }}
          <strong>{{ metas.site }}</strong>
        {{ /if }}
      </a>
      <br/>
      <a href="/about" class="navbar-home">
        About me
      </a>
      </div>

      <ul class="navbar-links">
      {{- for entry of search.pages("menu.visible=true", "menu.order") }}
        <li>
          <a href="{{ entry.url }}"{{ if entry.url == url }} aria-current="page"{{ /if }}>
            {{ entry.menu.title || entry.title }}
          </a>
        </li>
      {{ /for }}
      {{- for link of it.menu_links }}
        <li>
          <a href="{{ link.href }}">
            {{ link.text }}
          </a>
        </li>
      {{ /for }}
      </ul>
    </nav>
 
    <main class="{{ it.bodyClass }}">
      {{ content }}
    </main>

    <!-- Current page: {{ url }} -->
  </body>
</html>
