---
layout: base
---

{% if siteConfig.enableReadingProgressBar %}
  <div class="reading-progress-bar"></div>
{% endif %}

<article class="single-article">

  {% include "partials/post/image.njk" %}

  <header>
    <h1>{{ title }}</h1>
  </header>
  {% include "partials/post/top-meta.njk" %}
  {% include "disclaimers/disclaimer.njk" %}

  {{ content | safe }}

</article>

{% include "partials/post/author-info.njk" %}
{% include "partials/post/bottom-meta.njk" %}
{% include "partials/post/navigation.njk" %}
{% include "partials/scroll-up-arrow.njk" %}

<div class="container">

  <a href="https://github.com/quadristan/quadblog/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a>

  {# 
     Maybe someday I will toggle that on
     <script src="https://utteranc.es/client.js"
          repo="quadristan/quadblog"
          issue-term="pathname"
          label="blog_discussion"
          theme="preferred-color-scheme"
          crossorigin="anonymous" 
          async></script> #}
</div>